@import '../App.scss';

header {
    padding: 27px 60px;
}

nav {
    display: flex;
    justify-content: flex-end;
}

a {
    font-family: $playfair;
    color: $brand-white;
    font-size: 32px;
    text-decoration: none;
}