
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// brand colors
$brand-bg: #060606;
$brand-white: #d4d4d4;

// fonts
$playfair: 'Playfair Display', serif;


body {
    background: $brand-bg;
}
